@use './../../assets/_colors' as c

%form-block
  padding: 1rem
  font: inherit
  font-size: 1.25rem
  border-radius: 0.3125rem
  border-width: 3px
  border-style: solid
  color: #000000
  
.taskForm
  display: flex
  justify-content: space-between
  flex-direction: column
  align-items: center
  gap: 2rem
  width: 100%
  .taskLabel
    position: relative
    width: 100%
    .taskInput
      @extend %form-block
      width: 100%
      outline: none
      border-color: c.$additional-border-color
      transition: border-color 0.3s 
      &:focus
        border-color: c.$main-color-default
    .invalidInput
      border-color: c.$invalid-color
      &:focus
        border-color: c.$invalid-color
    .invalidMsg
      position: absolute
      bottom: -0.25rem
      color: c.$invalid-color
      transform: translateY(125%)
  .submitBtn
    @extend %form-block
    width: 100%
    border-color: c.$main-color-default
    background-color: c.$main-color-default
    user-select: none
    cursor: pointer
    &:hover
      border-color: c.$hover-color-default
      background-color: c.$hover-color-default
    &:active
      border-color: c.$main-color-default
      background-color: c.$main-color-default

@media screen and (min-width: 1080px)
  .taskForm
    flex-direction: row
    gap: 0.8rem
    .taskLabel
      width: 40%
    .submitBtn
      width: 20%