%form-block
  padding: 1rem
  font: inherit
  font-size: 1.25rem
  border-radius: 0.3125rem
  border-width: 3px
  border-style: solid
  color: #000000
  
.taskForm
  position: relative
  display: flex
  justify-content: space-between
  align-items: center
  gap: 0.8rem
  width: 80%
  margin: 0 auto
  .taskInput
    @extend %form-block
    width: 100%
    outline: none
    border-color: #cccccb
    transition: border-color 0.3s 
    &:focus
      border-color: #2f60ea
  .invalidInput
    border-color: #FF0000
    &:focus
      border-color: #FF0000
  .invalidMsg
    position: absolute
    bottom: 0
    top: 1rem
    color: #FF0000
    transform: translateY(125%)
  .submitBtn
    @extend %form-block
    border-color: #2f60ea
    background-color: #2f60ea
    cursor: pointer