$main-color-dark: #2a2120
$main-color-default: #2f60ea
$main-color-light: #fbdea8
$additional-border-color: #cccccb
$main-border-color: #0133ff
$main-text-color-light: #FFFFFF
$main-text-color-dark: #000000
$additional-text-color-light: #dc153c
$additional-text-color-dark: #a3102d
$hover-color-default: #264fc0
$invalid-color: #FF0000
$checked-color: #808080