@use './../../assets/_colors' as c

%heading
  font-weight: bold
  text-align: center

.todoHeading
  @extend %heading
  font-size: 3rem
  
.todoWidget
  display: flex
  flex-direction: column
  align-items: center
  gap: 0.9375rem
  width: calc(25vw + 30vh)
  height: 72vh
  margin: 5.5rem auto 0
  padding: 4.6875rem 2.5rem 1.5625rem
  border: 4px solid c.$main-border-color
  border-radius: 0.625rem
  background-color: c.$main-color-dark
  color: c.$main-text-color-light
  section
    width: 100%
  .listSection
    overflow: auto 
    ul
      padding-right: 0.5rem
      

.tasksHeading
  @extend %heading
  margin: 0.9375rem 0
  font-size: 2rem