@use './assets/_colors' as c

html
  font-size: 16px
  font-family: sans-serif

.appWrapper
  display: flex
  flex-direction: column
  min-height: 100vh
  background-color: c.$main-color-light

.main
  flex-grow: 1